@charset "utf-8";

.footer{
	display: block;
	position: absolute;
	bottom:0;
	width:100%;
	height:57px;
	display: block;
	#all_right{
		width: 100%;
		background-color: #e5e5e5;
		p{
			margin:0;
			padding:20px 0;
			text-align: center;
			font-size: 10px;
		}
	}
}

#page_top_link{
	padding: 0 45px;
	img{
		width: 60px;
		height: 40px;
		float: right;
		margin-bottom: 10px;
		position: fixed;
		bottom:57px;
		right: 45px;
		z-index:100;
	}
}