@charset "utf-8";

#header{
	width:100%;
	background-color: #074BAF;
	#title_area{
		height: auto;
		padding: 12px 20px 10px;
		border-bottom: 4px solid #074BAF;
		display: flex;
		justify-content: space-between;
		align-items:center;
		img{
			width: 220px;
			height: auto;
		}
		#login_info{
			p{
				margin: 0;
				font-size: 14px;
				font-weight: bold;
				color:#fff;
			}
			#logout_box{
				border: 1px solid #fff;
				border-radius: 40px;
				padding: 12px 20px;
				margin-left: 20px;
				cursor: pointer;
				a{
					text-decoration: none;
					color: #fff;
					font-weight: bold;
				}
				&:hover{
					background-color: #fff;
					a{
						color: #0078D7;
					}
				}
			}
		}
	}
	#g_navi{
		background-color: #1A283D;
		margin-bottom: 40px;
		ul{
			padding:0 45px;
			margin: 0;
			border-bottom: 1px solid #d1d1d1;
			display: flex;
			justify-content: center;
			li{
				min-width: 120px;
				width: auto;
				list-style-type: none;
				border-right: 1px solid #2C3B52;
				text-align: center;
				&:first-child{
					border-left: 1px solid #2C3B52;
				}
				a{
					font-size: 16px;
					text-decoration: none;
					letter-spacing: 0.1em;
					color: #fff;
					padding: 16px 25px;
					display: inline-block;
					letter-spacing: 2px;	
				}
				&:hover{
					background-color: #273853;
					a{
						color:#fff;
					}
				}
			}
		}
	}
}

///グローバルナビのアクティブ設定
.position_search{
	#g_navi{
		#position_search{
			background-color: #074BAF;
			a{
				color: #fff;
			}
		}
	}
}

.job_time_data{
	#g_navi{
		#job_time_data{
			background-color: #074BAF;
			a{
				color: #fff;
			}
		}
	}
}

.message_navi{
	#g_navi{
		#message_navi{
			background-color: #074BAF;
			a{
				color: #fff;
			}
		}
	}
}

.setting_navi{
	#g_navi{
		#setting_navi{
			background-color: #074BAF;
			a{
				color: #fff;
			}
		}
	}
}