@charset "UTF-8";
html {
  height: 100%; }

body {
  height: 100%;
  background: #F4F4F4;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  background-color: #fafafa; }

/*public*/
a {
  outline: none; }
  a img {
    border: none; }
  a:hover {
    opacity: 0.8;
    -ms-filter: "alpha(opacity=80)";
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none;
    list-style-position: inside; }

input[type="checkbox"] {
  border: none !important; }

input[type="radio"] {
  border: none !important; }

select {
  width: 60%;
  max-width: 300px;
  border: 1px solid #E6E6E6;
  margin-right: 8px;
  padding: 12px 8px; }

/********************************************
/	各種ボタン類の設定
/	ページ遷移・オーバーレイともに共通クラスを使用します
*********************************************/
.char_button {
  background-color: #fff; }

.char_button_search {
  display: block;
  margin: 20px 0; }
  .char_button_search a {
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: #0078D7;
    width: 280px;
    padding: 12px 0;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: block; }
    .char_button_search a:before {
      content: "\e61b";
      font-family: 'icomoon';
      font-size: 16px;
      font-weight: normal;
      color: #fff;
      font-size: 18px;
      margin-right: 8px; }

.char_button_regist {
  display: block;
  margin: 0; }
  .char_button_regist a {
    background: url("../images/public/bottom_shadow_search.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: #fddea5;
    width: 180px;
    height: 35px;
    padding-top: 5px;
    border: #cccccc 1px solid;
    display: inline-block;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px; }

.char_button_confirm {
  display: block;
  margin: 0; }
  .char_button_confirm a {
    background: url("../images/public/bottom_shadow_search.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: #fddea5;
    width: 180px;
    height: 35px;
    padding-top: 5px;
    border: #cccccc 1px solid;
    display: inline-block;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px; }

.char_button_floor {
  display: block;
  margin: 0; }
  .char_button_floor:first-child a {
    width: 200px; }
  .char_button_floor a {
    background: url("../images/public/bottom_shadow_search.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: #fddea5;
    width: 250px;
    height: 30px;
    padding-top: 10px;
    border: #cccccc 1px solid;
    display: inline-block;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 17px; }

.char_button_cancel {
  display: block;
  margin: 0;
  text-align: center;
  float: left; }
  .char_button_cancel a {
    background: url("../images/public/bottom_shadow.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: #fff;
    width: 180px;
    height: 35px;
    padding-top: 5px;
    border: #cccccc 1px solid;
    display: inline-block;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px; }

.char_button_beacon_select {
  display: block;
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  float: left; }
  .char_button_beacon_select a {
    background: url("../images/public/bottom_shadow.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: #fff;
    width: 180px;
    height: 35px;
    padding-top: 5px;
    border: #cccccc 1px solid;
    display: inline-block;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px; }

/*header*/
#header {
  width: 100%;
  background-color: #074BAF; }
  #header #title_area {
    height: auto;
    padding: 12px 20px 10px;
    border-bottom: 4px solid #074BAF;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #header #title_area img {
      width: 220px;
      height: auto; }
    #header #title_area #login_info p {
      margin: 0;
      font-size: 14px;
      font-weight: bold;
      color: #fff; }
    #header #title_area #login_info #logout_box {
      border: 1px solid #fff;
      border-radius: 40px;
      padding: 12px 20px;
      margin-left: 20px;
      cursor: pointer; }
      #header #title_area #login_info #logout_box a {
        text-decoration: none;
        color: #fff;
        font-weight: bold; }
      #header #title_area #login_info #logout_box:hover {
        background-color: #fff; }
        #header #title_area #login_info #logout_box:hover a {
          color: #0078D7; }
  #header #g_navi {
    background-color: #1A283D;
    margin-bottom: 40px; }
    #header #g_navi ul {
      padding: 0 45px;
      margin: 0;
      border-bottom: 1px solid #d1d1d1;
      display: flex;
      justify-content: center; }
      #header #g_navi ul li {
        min-width: 120px;
        width: auto;
        list-style-type: none;
        border-right: 1px solid #2C3B52;
        text-align: center; }
        #header #g_navi ul li:first-child {
          border-left: 1px solid #2C3B52; }
        #header #g_navi ul li a {
          font-size: 16px;
          text-decoration: none;
          letter-spacing: 0.1em;
          color: #fff;
          padding: 16px 25px;
          display: inline-block;
          letter-spacing: 2px; }
        #header #g_navi ul li:hover {
          background-color: #273853; }
          #header #g_navi ul li:hover a {
            color: #fff; }

.position_search #g_navi #position_search {
  background-color: #074BAF; }
  .position_search #g_navi #position_search a {
    color: #fff; }

.job_time_data #g_navi #job_time_data {
  background-color: #074BAF; }
  .job_time_data #g_navi #job_time_data a {
    color: #fff; }

.message_navi #g_navi #message_navi {
  background-color: #074BAF; }
  .message_navi #g_navi #message_navi a {
    color: #fff; }

.setting_navi #g_navi #setting_navi {
  background-color: #074BAF; }
  .setting_navi #g_navi #setting_navi a {
    color: #fff; }

/*main_contents*/
.wrapper {
  min-height: 100%;
  width: 100%;
  min-width: 768px;
  height: auto !important;
  position: absolute;
  top: 0;
  left: 0; }
  .wrapper .article {
    display: block;
    padding: 0 45px;
    padding-bottom: 130px; }
    .wrapper .article .error_area {
      border: solid 3px #e9546b;
      margin-bottom: 20px;
      background-color: #fff; }
      .wrapper .article .error_area p {
        color: #e9546b;
        margin: 15px 20px;
        font-weight: bold;
        font-size: 16px; }

@media screen and (min-device-width: 1024px) {
  .wrapper {
    min-width: 1024px; } }
.section_navi {
  display: block; }
  .section_navi #page_title {
    width: 100%; }
    .section_navi #page_title p {
      margin: 0;
      display: block;
      margin-bottom: 24px;
      margin-top: -2px;
      font-size: 24px;
      font-weight: bold; }
  .section_navi #day_of_pageing ul li {
    list-style-type: none;
    float: left;
    margin-left: 20px; }
    .section_navi #day_of_pageing ul li:first-child {
      margin-left: 0;
      font-weight: bold; }
  .section_navi #day_of_pageing ul li.list_select {
    width: 28px;
    height: 28px; }
    .section_navi #day_of_pageing ul li.list_select a {
      display: inline-block;
      color: #333333;
      width: 18px;
      height: 25px;
      padding-left: 10px;
      padding-top: 3px;
      font-weight: bold;
      text-decoration: none; }
    .section_navi #day_of_pageing ul li.list_select:hover {
      opacity: 0.7;
      -ms-filter: "alpha(opacity=70)";
      /* ie 8 */ }
  .section_navi #day_of_pageing ul li.this_month {
    width: 46px;
    height: 28px; }
    .section_navi #day_of_pageing ul li.this_month a {
      width: 38px;
      height: 25px;
      padding-left: 8px;
      padding-top: 3px;
      text-decoration: none;
      color: #333333;
      display: inline-block; }
  .section_navi #day_of_pageing ul li.select_day {
    margin-top: 3px;
    font-weight: bold; }
  .section_navi #day_of_pageing ul li.download {
    width: 202px;
    height: 28px; }
    .section_navi #day_of_pageing ul li.download a {
      text-decoration: none;
      color: #333333;
      display: inline-block;
      width: 200px;
      padding-left: 0; }
      .section_navi #day_of_pageing ul li.download a span {
        display: block;
        text-align: center; }
  .section_navi #day_of_pageing ul li.right {
    float: right; }
  .section_navi #count_of_pageing p {
    margin: 0;
    float: left;
    font-size: 16px;
    margin-top: 10px; }
    .section_navi #count_of_pageing p a {
      width: 107px;
      height: 32px;
      padding-left: 33px;
      padding-top: 8px;
      font-weight: bold;
      color: #333333;
      text-decoration: none;
      display: inline-block;
      font-size: 18px;
      margin-left: 10px;
      margin-top: -10px; }
  .section_navi #count_of_pageing ul {
    float: right;
    margin-top: 5px; }
    .section_navi #count_of_pageing ul li {
      float: left;
      margin-left: 8px; }
      .section_navi #count_of_pageing ul li:first-child {
        margin-left: none; }
    .section_navi #count_of_pageing ul .pageingL a {
      display: inline-block;
      width: auto;
      padding: 6px 12px;
      color: #0078D7;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      border-radius: 3px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      transition: .3s; }
    .section_navi #count_of_pageing ul .pageingS a {
      display: inline-block;
      width: auto;
      padding: 6px 12px;
      color: #333333;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      border-radius: 3px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      transition: .3s; }
    .section_navi #count_of_pageing ul .active a {
      background-color: #0078D7;
      border-color: transparent;
      color: #fefefe; }
  .section_navi .proce_area {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    padding: 16px;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 32px; }
    .section_navi .proce_area ul.forms {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: center; }
      .section_navi .proce_area ul.forms li {
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        width: 100%;
        margin-bottom: 12px; }
        .section_navi .proce_area ul.forms li p {
          width: 200px;
          text-align: left;
          color: #555;
          font-size: 14px;
          font-weight: bold;
          margin: 12px 40px 12px 0; }
        .section_navi .proce_area ul.forms li div {
          width: 100%;
          display: flex;
          align-items: center; }
          .section_navi .proce_area ul.forms li div input[type=text] {
            width: 100%;
            max-width: 300px;
            border: 1px solid #E6E6E6;
            transition: .3s;
            border-radius: 4px;
            padding: 12px 8px;
            margin-right: 8px;
            font-size: 14px; }
            .section_navi .proce_area ul.forms li div input[type=text]:focus {
              outline: none;
              border-color: #008CFF;
              background-color: #F5F8FB; }
          .section_navi .proce_area ul.forms li div input[type=radio] {
            margin-right: 4px; }
            .section_navi .proce_area ul.forms li div input[type=radio]:checked + span {
              font-weight: bold;
              color: #0078D7; }
          .section_navi .proce_area ul.forms li div label {
            display: flex;
            justify-content: flex-start;
            margin-right: 32px;
            white-space: nowrap;
            font-size: 14px; }
          .section_navi .proce_area ul.forms li div select {
            width: 100%;
            max-width: 300px;
            border: 1px solid #E6E6E6;
            margin-right: 8px;
            padding: 12px 8px;
            height: 40px;
            font-size: 14px; }
            .section_navi .proce_area ul.forms li div select:focus {
              outline: none;
              border-color: #008CFF; }
    .section_navi .proce_area table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 30px; }
      .section_navi .proce_area table th {
        font-weight: normal;
        text-align: left;
        padding: 10px;
        font-size: 14px; }
      .section_navi .proce_area table td {
        text-align: left;
        padding: 10px 32px 10px 10px;
        font-size: 14px; }
        .section_navi .proce_area table td input {
          width: 60%;
          border: 1px solid #E6E6E6;
          transition: .3s;
          border-radius: 4px;
          padding: 4px 6px; }
          .section_navi .proce_area table td input:focus {
            outline: none;
            border-color: #008CFF;
            background-color: #F5F8FB; }
        .section_navi .proce_area table td input[type="text"] {
          height: 26px; }
        .section_navi .proce_area table td input[type="number"] {
          height: 26px; }
    .section_navi .proce_area ul {
      display: inline-block;
      margin: 0; }
      .section_navi .proce_area ul li {
        float: left;
        margin-left: 40px; }
        .section_navi .proce_area ul li:first-child {
          margin-left: 0; }
  .section_navi .sub_title {
    background-color: #83ccd2;
    padding: 10px 5px;
    color: #fff; }
  .section_navi .setting_back {
    display: block;
    margin: 0;
    margin-top: 40px;
    text-align: center;
    float: left; }
    .section_navi .setting_back a {
      background-position: left bottom;
      background-repeat: repeat-x;
      background-color: #cccccc;
      min-width: 100px;
      padding: 12px 20px;
      display: inline-block;
      border-radius: 40px;
      color: #111;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px; }
      .section_navi .setting_back a:before {
        content: "\e965";
        font-family: 'icomoon';
        font-size: 12px;
        font-weight: normal;
        color: #111;
        font-size: 14px;
        margin-right: 8px;
        position: relative;
        top: 2px; }

.new_regist {
  text-align: center; }
  .new_regist table tr th {
    text-align: left; }
  .new_regist table tr td {
    text-align: left; }
  .new_regist ul {
    display: inline-block; }
    .new_regist ul li {
      float: left; }

.area_management {
  text-align: center; }
  .area_management p {
    margin: 0;
    margin-top: 15px;
    padding: 15px 10px;
    background-color: #ececec;
    text-align: left;
    text-align: left; }
  .area_management ul {
    display: inline-block; }
    .area_management ul li {
      float: left;
      margin-left: 40px; }
      .area_management ul li:first-child {
        margin-left: 0; }

.top15 {
  margin-top: 15px !important; }

.bottom15 {
  margin-bottom: 15px !important; }

.bottom20 {
  margin-bottom: 20px !important; }

.bottom30 {
  margin-bottom: 30px !important; }

.pub_tset {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse; }
  .pub_tset tr {
    background-color: #fff; }
    .pub_tset tr th {
      background-color: #1A283D;
      padding: 12px 5px;
      color: #fff;
      border-bottom: 1px solid #555;
      font-size: 16px;
      letter-spacing: 0.1em; }
      .pub_tset tr th .sort {
        top: 1px;
        margin-left: 12px;
        position: relative; }
        .pub_tset tr th .sort .descending {
          margin-left: 4px; }
          .pub_tset tr th .sort .descending img {
            width: 14px;
            height: auto; }
        .pub_tset tr th .sort .ascending img {
          width: 14px;
          height: auto; }
    .pub_tset tr td {
      padding: 16px 6px;
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;
      text-align: center !important; }
      .pub_tset tr td input {
        width: 60%;
        border: 1px solid #a9a9a9; }
      .pub_tset tr td input[type="text"] {
        height: 26px; }
      .pub_tset tr td input[type="number"] {
        height: 26px; }
      .pub_tset tr td a {
        display: inline-block; }
      .pub_tset tr td .table_button_C {
        display: block;
        text-align: center; }
        .pub_tset tr td .table_button_C img {
          display: inline-block; }
  .pub_tset .even {
    background-color: #F5F8FB; }

.pub_tset_beside {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px; }
  .pub_tset_beside tr {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede; }
    .pub_tset_beside tr th {
      background-color: #ececec;
      padding: 13px 10px;
      font-weight: normal;
      font-size: 16px; }
      .pub_tset_beside tr th .sort {
        position: relative;
        top: 5px;
        margin-left: 5px; }
        .pub_tset_beside tr th .sort .descending {
          margin-left: 2px; }
    .pub_tset_beside tr .v_top {
      vertical-align: top; }
    .pub_tset_beside tr td {
      padding: 14px 10px;
      text-align: left; }
      .pub_tset_beside tr td input {
        width: 60%;
        border: 1px solid #a9a9a9; }
      .pub_tset_beside tr td input[type="text"] {
        height: 26px; }
      .pub_tset_beside tr td input[type="number"] {
        height: 26px; }
      .pub_tset_beside tr td a {
        display: inline-block; }
      .pub_tset_beside tr td .table_button_C {
        display: block;
        text-align: center; }
        .pub_tset_beside tr td .table_button_C img {
          display: inline-block; }

.footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  display: block; }
  .footer #all_right {
    width: 100%;
    background-color: #e5e5e5; }
    .footer #all_right p {
      margin: 0;
      padding: 20px 0;
      text-align: center;
      font-size: 10px; }

#page_top_link {
  padding: 0 45px; }
  #page_top_link img {
    width: 60px;
    height: 40px;
    float: right;
    margin-bottom: 10px;
    position: fixed;
    bottom: 57px;
    right: 45px;
    z-index: 100; }

/********************************************
*****オーバーレイの初期設定
*********************************************/
#cboxLoadedContent {
  border: none !important; }

#cboxContent {
  background: #000 !important; }

#cboxClose {
  display: none; }

/********************************************
*****オーバーレイの共通設定
*********************************************/
#ajax-wrap {
  height: 100%; }
  #ajax-wrap .overlay_title {
    background-color: #074BAF;
    height: 49px;
    width: 100%;
    margin: 0;
    display: block;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 20px; }
    #ajax-wrap .overlay_title span {
      margin-top: 10px;
      margin-left: 20px;
      float: left; }
    #ajax-wrap .overlay_title a {
      float: right;
      margin-right: 5px;
      margin-top: 5px; }
  #ajax-wrap #overlay_main_content {
    padding: 0 20px; }
    #ajax-wrap #overlay_main_content .error_area {
      border: solid 3px #e9546b;
      margin-bottom: 20px;
      background-color: #fff; }
      #ajax-wrap #overlay_main_content .error_area p {
        color: #e9546b;
        margin: 15px 20px;
        font-weight: bold;
        font-size: 16px; }
    #ajax-wrap #overlay_main_content .office_map {
      width: 100%;
      margin-bottom: 40px; }
      #ajax-wrap #overlay_main_content .office_map .map {
        position: relative;
        width: 100%; }
    #ajax-wrap #overlay_main_content .pub_table_ov {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 30px;
      color: #333333; }
      #ajax-wrap #overlay_main_content .pub_table_ov tr {
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede; }
        #ajax-wrap #overlay_main_content .pub_table_ov tr th {
          background-color: #ececec;
          padding: 13.5px 12px;
          text-align: left;
          font-size: 16px;
          font-weight: normal; }
        #ajax-wrap #overlay_main_content .pub_table_ov tr td {
          padding: 9.5px 12px;
          text-align: left; }
          #ajax-wrap #overlay_main_content .pub_table_ov tr td textarea {
            width: 100%;
            resize: none; }
          #ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="radio"] {
            margin: 0;
            margin-left: 20px; }
            #ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="radio"]:first-child {
              margin-left: 0; }
          #ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="text"] {
            height: 26px;
            width: 60%; }
          #ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="number"] {
            height: 26px;
            width: 60%; }
          #ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="date"] {
            height: 26px;
            width: 60%; }
          #ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="time"] {
            height: 26px;
            width: 60%; }
          #ajax-wrap #overlay_main_content .pub_table_ov tr td select {
            height: 30px;
            width: 60%; }
    #ajax-wrap #overlay_main_content .search_ov {
      text-align: center; }
      #ajax-wrap #overlay_main_content .search_ov ul {
        display: inline-block; }
        #ajax-wrap #overlay_main_content .search_ov ul li {
          float: left;
          margin-left: 40px;
          margin-bottom: 20px; }
          #ajax-wrap #overlay_main_content .search_ov ul li:first-child {
            margin-left: 0; }
  #ajax-wrap .overflow_footer {
    height: 20px;
    display: block; }

/*icon_font*/
/*=================================================================================
	アイコンフォント
/===============================================================================*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-qapj49");
  src: url("../fonts/icomoon.eot?#iefix-qapj49") format("embedded-opentype"), url("../fonts/icomoon.ttf?-qapj49") format("truetype"), url("../fonts/icomoon.woff?-qapj49") format("woff"), url("../fonts/icomoon.svg?-qapj49#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-uniE600:before {
  content: "\e600"; }

.icon-uniE601:before {
  content: "\e601"; }

.icon-uniE602:before {
  content: "\e602"; }

.icon-uniE603:before {
  content: "\e603"; }

.icon-uniE604:before {
  content: "\e604"; }

.icon-uniE605:before {
  content: "\e605"; }

.icon-uniE606:before {
  content: "\e606"; }

.icon-uniE607:before {
  content: "\e607"; }

.icon-uniE608:before {
  content: "\e608"; }

.icon-uniE609:before {
  content: "\e609"; }

.icon-uniE60A:before {
  content: "\e60a"; }

.icon-uniE60B:before {
  content: "\e60b"; }

.icon-uniE60C:before {
  content: "\e60c"; }

.icon-uniE60D:before {
  content: "\e60d"; }

.icon-uniE60E:before {
  content: "\e60e"; }

.icon-uniE60F:before {
  content: "\e60f"; }

.icon-uniE610:before {
  content: "\e610"; }

.icon-uniE611:before {
  content: "\e611"; }

.icon-uniE612:before {
  content: "\e612"; }

.icon-uniE613:before {
  content: "\e613"; }

.icon-uniE614:before {
  content: "\e614"; }

.icon-uniE615:before {
  content: "\e615"; }

.icon-uniE616:before {
  content: "\e616"; }

.icon-uniE617:before {
  content: "\e617"; }

.icon-uniE618:before {
  content: "\e618"; }

.icon-uniE619:before {
  content: "\e619"; }

.icon-uniE61A:before {
  content: "\e61a"; }

.icon-uniE61B:before {
  content: "\e61b"; }

.icon-uniE61C:before {
  content: "\e61c"; }

.icon-uniE705:before {
  content: "\e705"; }

.icon-uniE706:before {
  content: "\e706"; }

.icon-uniE905:before {
  content: "\e905"; }

.icon-uniE960:before {
  content: "\e960"; }

.icon-uniE961:before {
  content: "\e961"; }

.icon-uniE9AC:before {
  content: "\e9ac"; }

.icon-undo:before {
  content: "\e965"; }

.js-expand-body {
  display: none; }
.js-expand-button {
  font-size: 18px;
  font-weight: bold;
  color: #008CFF; }
  .js-expand-button:before {
    content: "\e611";
    font-family: 'icomoon';
    font-size: 12px;
    font-weight: normal;
    color: #008CFF;
    font-size: 20px;
    margin-right: 8px;
    position: relative;
    top: 2px; }

svg .bar {
  fill: #0078D7 !important; }

/*# sourceMappingURL=common.css.map */
