@charset "UTF-8";
/* line 2, ../sass/common.scss */
html {
  height: 100%;
}

/* line 5, ../sass/common.scss */
body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, ＭＳ Ｐゴシック, Osaka, MS PGothic, sans-serif, Lucida Grande, Helvetic;
  background-color: #fafafa;
}

/*public*/
/* line 22, ../sass/common.scss */
a {
  outline: none;
}
/* line 24, ../sass/common.scss */
a img {
  border: none;
}
/* line 27, ../sass/common.scss */
a:hover {
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
}

/* line 35, ../sass/common.scss */
ul {
  padding: 0;
  margin: 0;
}
/* line 38, ../sass/common.scss */
ul li {
  list-style-type: none;
  list-style-position: inside;
}

/* line 44, ../sass/common.scss */
input[type="checkbox"] {
  border: none !important;
}

/* line 48, ../sass/common.scss */
input[type="radio"] {
  border: none !important;
}

/* line 52, ../sass/common.scss */
select {
  width: 60%;
  height: 30px;
  border: 1px solid #a9a9a9;
}

/********************************************
/	各種ボタン類の設定
/	ページ遷移・オーバーレイともに共通クラスを使用します
*********************************************/
/* line 63, ../sass/common.scss */
.char_button {
  border: 1px solid #cccccc;
  background: url("../images/public/bottom_shadow.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-color: #fff;
}

/* line 72, ../sass/common.scss */
.char_button_search {
  display: block;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 35px;
}
/* line 77, ../sass/common.scss */
.char_button_search a {
  background: url("../images/public/bottom_shadow_search.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-color: #fddea5;
  width: 180px;
  height: 35px;
  padding-top: 5px;
  border: #cccccc 1px solid;
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
/* line 91, ../sass/common.scss */
.char_button_search a:before {
  content: "\e61b";
  font-family: 'icomoon';
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  font-size: 18px;
  margin-right: 3px;
  position: relative;
  top: 2px;
}

/* line 106, ../sass/common.scss */
.char_button_regist {
  display: block;
  margin: 0;
}
/* line 109, ../sass/common.scss */
.char_button_regist a {
  background: url("../images/public/bottom_shadow_search.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-color: #fddea5;
  width: 180px;
  height: 35px;
  padding-top: 5px;
  border: #cccccc 1px solid;
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

/* line 127, ../sass/common.scss */
.char_button_confirm {
  display: block;
  margin: 0;
}
/* line 130, ../sass/common.scss */
.char_button_confirm a {
  background: url("../images/public/bottom_shadow_search.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-color: #fddea5;
  width: 180px;
  height: 35px;
  padding-top: 5px;
  border: #cccccc 1px solid;
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

/* line 148, ../sass/common.scss */
.char_button_floor {
  display: block;
  margin: 0;
}
/* line 152, ../sass/common.scss */
.char_button_floor:first-child a {
  width: 200px;
}
/* line 156, ../sass/common.scss */
.char_button_floor a {
  background: url("../images/public/bottom_shadow_search.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-color: #fddea5;
  width: 250px;
  height: 30px;
  padding-top: 10px;
  border: #cccccc 1px solid;
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 17px;
}

/* line 176, ../sass/common.scss */
.char_button_cancel {
  display: block;
  margin: 0;
  text-align: center;
  float: left;
}
/* line 181, ../sass/common.scss */
.char_button_cancel a {
  background: url("../images/public/bottom_shadow.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-color: #fff;
  width: 180px;
  height: 35px;
  padding-top: 5px;
  border: #cccccc 1px solid;
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

/* line 199, ../sass/common.scss */
.char_button_beacon_select {
  display: block;
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  float: left;
}
/* line 205, ../sass/common.scss */
.char_button_beacon_select a {
  background: url("../images/public/bottom_shadow.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-color: #fff;
  width: 180px;
  height: 35px;
  padding-top: 5px;
  border: #cccccc 1px solid;
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

/*header*/
/* line 3, ../sass/header.scss */
#header {
  width: 100%;
  background-color: #0362C4;
}
/* line 6, ../sass/header.scss */
#header #title_area {
  height: 80px;
  border-bottom: 4px solid #0362C4;
}
/* line 9, ../sass/header.scss */
#header #title_area img {
  float: left;
  margin-left: 45px;
  margin-top: 15px;
}
/* line 14, ../sass/header.scss */
#header #title_area #login_info {
  float: right;
  margin-right: 45px;
  margin-top: 35px;
}
/* line 18, ../sass/header.scss */
#header #title_area #login_info p {
  margin: 0;
  font-size: 12px;
  margin-top: -6px;
  color: #fff;
}
/* line 23, ../sass/header.scss */
#header #title_area #login_info #logout_box {
  padding: 2px 5px;
  background-color: #afafaf;
  margin-left: 20px;
  cursor: pointer;
}
/* line 28, ../sass/header.scss */
#header #title_area #login_info #logout_box a {
  text-decoration: none;
  color: #fff;
}
/* line 32, ../sass/header.scss */
#header #title_area #login_info #logout_box:hover {
  background-color: #666666;
}
/* line 38, ../sass/header.scss */
#header #g_navi {
  background-color: #ececec;
  margin-bottom: 40px;
}
/* line 41, ../sass/header.scss */
#header #g_navi ul {
  padding: 0 45px;
  margin: 0;
  border-bottom: 1px solid #d1d1d1;
}
/* line 45, ../sass/header.scss */
#header #g_navi ul li {
  float: left;
  list-style-type: none;
  border-right: 1px solid #d1d1d1;
}
/* line 49, ../sass/header.scss */
#header #g_navi ul li:first-child {
  border-left: 1px solid #d1d1d1;
}
/* line 52, ../sass/header.scss */
#header #g_navi ul li a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
  padding: 10px 25px;
  display: inline-block;
  letter-spacing: 2px;
}
/* line 61, ../sass/header.scss */
#header #g_navi ul li:hover {
  background-color: #0362C4;
}
/* line 63, ../sass/header.scss */
#header #g_navi ul li:hover a {
  color: #fff;
}

/* line 75, ../sass/header.scss */
.position_search #g_navi #position_search {
  background-color: #0362C4;
}
/* line 77, ../sass/header.scss */
.position_search #g_navi #position_search a {
  color: #fff;
}

/* line 86, ../sass/header.scss */
.job_time_data #g_navi #job_time_data {
  background-color: #0362C4;
}
/* line 88, ../sass/header.scss */
.job_time_data #g_navi #job_time_data a {
  color: #fff;
}

/* line 97, ../sass/header.scss */
.message_navi #g_navi #message_navi {
  background-color: #0362C4;
}
/* line 99, ../sass/header.scss */
.message_navi #g_navi #message_navi a {
  color: #fff;
}

/* line 108, ../sass/header.scss */
.setting_navi #g_navi #setting_navi {
  background-color: #0362C4;
}
/* line 110, ../sass/header.scss */
.setting_navi #g_navi #setting_navi a {
  color: #fff;
}

/*main_contents*/
/* line 226, ../sass/common.scss */
.wrapper {
  min-height: 100%;
  width: 100%;
  min-width: 768px;
  height: auto !important;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 234, ../sass/common.scss */
.wrapper .article {
  display: block;
  padding: 0 45px;
  padding-bottom: 130px;
}
/* line 238, ../sass/common.scss */
.wrapper .article .error_area {
  border: solid 3px #e9546b;
  margin-bottom: 20px;
  background-color: #fff;
}
/* line 242, ../sass/common.scss */
.wrapper .article .error_area p {
  color: #e9546b;
  margin: 15px 20px;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (min-device-width: 1024px) {
  /* line 252, ../sass/common.scss */
  .wrapper {
    min-width: 1024px;
  }
}
/* line 258, ../sass/common.scss */
.section_navi {
  display: block;
}
/* line 260, ../sass/common.scss */
.section_navi #page_title {
  width: 100%;
  border-top: 2px solid #d5d5d5;
}
/* line 263, ../sass/common.scss */
.section_navi #page_title p {
  margin: 0;
  padding: 11px 20px;
  border-top: #0362C4 2px solid;
  display: inline-block;
  margin-top: -2px;
  font-size: 18px;
  font-weight: bold;
}
/* line 276, ../sass/common.scss */
.section_navi #day_of_pageing ul li {
  list-style-type: none;
  float: left;
  margin-left: 20px;
}
/* line 280, ../sass/common.scss */
.section_navi #day_of_pageing ul li:first-child {
  margin-left: 0;
  font-weight: bold;
}
/* line 285, ../sass/common.scss */
.section_navi #day_of_pageing ul li.list_select {
  width: 28px;
  height: 28px;
}
/* line 288, ../sass/common.scss */
.section_navi #day_of_pageing ul li.list_select a {
  display: inline-block;
  color: #333333;
  width: 18px;
  height: 25px;
  padding-left: 10px;
  padding-top: 3px;
  font-weight: bold;
  text-decoration: none;
}
/* line 298, ../sass/common.scss */
.section_navi #day_of_pageing ul li.list_select:hover {
  opacity: 0.7;
  -ms-filter: "alpha(opacity=70)";
  /* ie 8 */
}
/* line 303, ../sass/common.scss */
.section_navi #day_of_pageing ul li.this_month {
  width: 46px;
  height: 28px;
}
/* line 306, ../sass/common.scss */
.section_navi #day_of_pageing ul li.this_month a {
  width: 38px;
  height: 25px;
  padding-left: 8px;
  padding-top: 3px;
  text-decoration: none;
  color: #333333;
  display: inline-block;
}
/* line 316, ../sass/common.scss */
.section_navi #day_of_pageing ul li.select_day {
  margin-top: 3px;
  font-weight: bold;
}
/* line 320, ../sass/common.scss */
.section_navi #day_of_pageing ul li.download {
  width: 202px;
  height: 28px;
}
/* line 323, ../sass/common.scss */
.section_navi #day_of_pageing ul li.download a {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  width: 200px;
  padding-left: 0;
}
/* line 329, ../sass/common.scss */
.section_navi #day_of_pageing ul li.download a span {
  display: block;
  text-align: center;
}
/* line 335, ../sass/common.scss */
.section_navi #day_of_pageing ul li.right {
  float: right;
}
/* line 342, ../sass/common.scss */
.section_navi #count_of_pageing p {
  margin: 0;
  float: left;
  font-size: 16px;
  margin-top: 10px;
}
/* line 347, ../sass/common.scss */
.section_navi #count_of_pageing p a {
  width: 107px;
  height: 32px;
  padding-left: 33px;
  padding-top: 8px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
  margin-top: -10px;
}
/* line 361, ../sass/common.scss */
.section_navi #count_of_pageing ul {
  float: right;
  margin-top: 5px;
}
/* line 364, ../sass/common.scss */
.section_navi #count_of_pageing ul li {
  float: left;
  margin-left: 5px;
}
/* line 367, ../sass/common.scss */
.section_navi #count_of_pageing ul li:first-child {
  margin-left: none;
}
/* line 372, ../sass/common.scss */
.section_navi #count_of_pageing ul .pageingL a {
  display: inline-block;
  width: 39px;
  height: 25px;
  padding-left: 10px;
  padding-top: 5px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
/* line 384, ../sass/common.scss */
.section_navi #count_of_pageing ul .pageingS a {
  display: inline-block;
  width: 20px;
  height: 25px;
  padding-left: 10px;
  padding-top: 5px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
/* line 396, ../sass/common.scss */
.section_navi #count_of_pageing ul .active a {
  background: url("../images/public/bottom_shadow_active.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  border: solid 1px #cccccc;
  background-color: #045aed;
  color: #fefefe;
}
/* line 408, ../sass/common.scss */
.section_navi .proce_area {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
/* line 412, ../sass/common.scss */
.section_navi .proce_area table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}
/* line 416, ../sass/common.scss */
.section_navi .proce_area table th {
  background-color: #ececec;
  font-weight: normal;
  text-align: left;
  padding: 10px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  font-size: 16px;
}
/* line 425, ../sass/common.scss */
.section_navi .proce_area table td {
  text-align: left;
  padding: 10px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
/* line 430, ../sass/common.scss */
.section_navi .proce_area table td input {
  width: 60%;
  border: 1px solid #a9a9a9;
}
/* line 434, ../sass/common.scss */
.section_navi .proce_area table td input[type="text"] {
  height: 26px;
}
/* line 437, ../sass/common.scss */
.section_navi .proce_area table td input[type="number"] {
  height: 26px;
}
/* line 442, ../sass/common.scss */
.section_navi .proce_area ul {
  display: inline-block;
  margin: 0;
}
/* line 445, ../sass/common.scss */
.section_navi .proce_area ul li {
  float: left;
  margin-left: 40px;
}
/* line 448, ../sass/common.scss */
.section_navi .proce_area ul li:first-child {
  margin-left: 0;
}
/* line 455, ../sass/common.scss */
.section_navi .sub_title {
  background-color: #83ccd2;
  padding: 10px 5px;
  color: #fff;
}
/* line 460, ../sass/common.scss */
.section_navi .setting_back {
  display: block;
  margin: 0;
  margin-top: 40px;
  text-align: center;
  float: left;
}
/* line 466, ../sass/common.scss */
.section_navi .setting_back a {
  background: url("../images/public/bottom_shadow_back.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-color: #cccccc;
  width: 100px;
  height: 25px;
  padding-top: 3px;
  border: #afafaf 1px solid;
  display: inline-block;
  color: #feffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
/* line 480, ../sass/common.scss */
.section_navi .setting_back a:before {
  content: "\e965";
  font-family: 'icomoon';
  font-size: 16px;
  font-weight: normal;
  color: #feffff;
  font-size: 14px;
  margin-right: 3px;
  position: relative;
  top: 2px;
}

/* line 496, ../sass/common.scss */
.new_regist {
  text-align: center;
}
/* line 500, ../sass/common.scss */
.new_regist table tr th {
  text-align: left;
}
/* line 503, ../sass/common.scss */
.new_regist table tr td {
  text-align: left;
}
/* line 508, ../sass/common.scss */
.new_regist ul {
  display: inline-block;
}
/* line 510, ../sass/common.scss */
.new_regist ul li {
  float: left;
}

/* line 517, ../sass/common.scss */
.area_management {
  text-align: center;
}
/* line 519, ../sass/common.scss */
.area_management p {
  margin: 0;
  margin-top: 15px;
  padding: 15px 10px;
  background-color: #ececec;
  text-align: left;
  text-align: left;
}
/* line 527, ../sass/common.scss */
.area_management ul {
  display: inline-block;
}
/* line 529, ../sass/common.scss */
.area_management ul li {
  float: left;
  margin-left: 40px;
}
/* line 532, ../sass/common.scss */
.area_management ul li:first-child {
  margin-left: 0;
}

/* line 539, ../sass/common.scss */
.top15 {
  margin-top: 15px !important;
}

/* line 542, ../sass/common.scss */
.bottom15 {
  margin-bottom: 15px !important;
}

/* line 546, ../sass/common.scss */
.bottom20 {
  margin-bottom: 20px !important;
}

/* line 550, ../sass/common.scss */
.bottom30 {
  margin-bottom: 30px !important;
}

/* line 555, ../sass/common.scss */
.pub_tset {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dedede;
}
/* line 559, ../sass/common.scss */
.pub_tset tr {
  background-color: #fff;
}
/* line 561, ../sass/common.scss */
.pub_tset tr th {
  background-color: #0078D7;
  padding: 6px 5px;
  border: 1px solid #dedede;
  color: #ffffff;
}
/* line 566, ../sass/common.scss */
.pub_tset tr th .sort {
  position: relative;
  top: 5px;
  margin-left: 5px;
}
/* line 570, ../sass/common.scss */
.pub_tset tr th .sort .descending {
  margin-left: 2px;
}
/* line 575, ../sass/common.scss */
.pub_tset tr td {
  padding: 7px 9px;
  border: 1px solid #dedede;
  text-align: left;
}
/* line 579, ../sass/common.scss */
.pub_tset tr td input {
  width: 60%;
  border: 1px solid #a9a9a9;
}
/* line 583, ../sass/common.scss */
.pub_tset tr td input[type="text"] {
  height: 26px;
}
/* line 586, ../sass/common.scss */
.pub_tset tr td input[type="number"] {
  height: 26px;
}
/* line 589, ../sass/common.scss */
.pub_tset tr td a {
  display: inline-block;
}
/* line 592, ../sass/common.scss */
.pub_tset tr td .table_button_C {
  display: block;
  text-align: center;
}
/* line 595, ../sass/common.scss */
.pub_tset tr td .table_button_C img {
  display: inline-block;
}
/* line 602, ../sass/common.scss */
.pub_tset .even {
  background-color: #f8fbf8;
}

/* line 608, ../sass/common.scss */
.pub_tset_beside {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}
/* line 612, ../sass/common.scss */
.pub_tset_beside tr {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
/* line 615, ../sass/common.scss */
.pub_tset_beside tr th {
  background-color: #ececec;
  padding: 13px 10px;
  font-weight: normal;
  font-size: 16px;
}
/* line 620, ../sass/common.scss */
.pub_tset_beside tr th .sort {
  position: relative;
  top: 5px;
  margin-left: 5px;
}
/* line 624, ../sass/common.scss */
.pub_tset_beside tr th .sort .descending {
  margin-left: 2px;
}
/* line 629, ../sass/common.scss */
.pub_tset_beside tr .v_top {
  vertical-align: top;
}
/* line 632, ../sass/common.scss */
.pub_tset_beside tr td {
  padding: 14px 10px;
  text-align: left;
}
/* line 635, ../sass/common.scss */
.pub_tset_beside tr td input {
  width: 60%;
  border: 1px solid #a9a9a9;
}
/* line 639, ../sass/common.scss */
.pub_tset_beside tr td input[type="text"] {
  height: 26px;
}
/* line 642, ../sass/common.scss */
.pub_tset_beside tr td input[type="number"] {
  height: 26px;
}
/* line 645, ../sass/common.scss */
.pub_tset_beside tr td a {
  display: inline-block;
}
/* line 648, ../sass/common.scss */
.pub_tset_beside tr td .table_button_C {
  display: block;
  text-align: center;
}
/* line 651, ../sass/common.scss */
.pub_tset_beside tr td .table_button_C img {
  display: inline-block;
}

/* line 3, ../sass/footer.scss */
.footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  display: block;
}
/* line 10, ../sass/footer.scss */
.footer #all_right {
  width: 100%;
  background-color: #e5e5e5;
}
/* line 13, ../sass/footer.scss */
.footer #all_right p {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 10px;
}

/* line 22, ../sass/footer.scss */
#page_top_link {
  padding: 0 45px;
}
/* line 24, ../sass/footer.scss */
#page_top_link img {
  width: 60px;
  height: 40px;
  float: right;
  margin-bottom: 10px;
  position: fixed;
  bottom: 57px;
  right: 45px;
  z-index: 100;
}

/********************************************
*****オーバーレイの初期設定
*********************************************/
/* line 7, ../sass/overlay_setting.scss */
#cboxLoadedContent {
  border: none !important;
}

/* line 11, ../sass/overlay_setting.scss */
#cboxContent {
  background: black !important;
}

/* line 15, ../sass/overlay_setting.scss */
#cboxClose {
  display: none;
}

/********************************************
*****オーバーレイの共通設定
*********************************************/
/* line 24, ../sass/overlay_setting.scss */
#ajax-wrap {
  height: 100%;
}
/* line 28, ../sass/overlay_setting.scss */
#ajax-wrap .overlay_title {
  background-color: #0362C4;
  height: 49px;
  width: 100%;
  margin: 0;
  display: block;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
/* line 38, ../sass/overlay_setting.scss */
#ajax-wrap .overlay_title span {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}
/* line 43, ../sass/overlay_setting.scss */
#ajax-wrap .overlay_title a {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}
/* line 50, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content {
  padding: 0 20px;
}
/* line 52, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .error_area {
  border: solid 3px #e9546b;
  margin-bottom: 20px;
  background-color: #fff;
}
/* line 56, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .error_area p {
  color: #e9546b;
  margin: 15px 20px;
  font-weight: bold;
  font-size: 16px;
}
/* line 64, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .office_map {
  width: 100%;
  margin-bottom: 40px;
}
/* line 67, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .office_map .map {
  position: relative;
  width: 100%;
}
/* line 73, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  color: #333333;
}
/* line 78, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov tr {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
/* line 81, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov tr th {
  background-color: #ececec;
  padding: 13.5px 12px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
}
/* line 88, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov tr td {
  padding: 9.5px 12px;
  text-align: left;
}
/* line 91, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov tr td textarea {
  width: 100%;
  resize: none;
}
/* line 95, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="radio"] {
  margin: 0;
  margin-left: 20px;
}
/* line 98, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="radio"]:first-child {
  margin-left: 0;
}
/* line 102, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="text"] {
  height: 26px;
  width: 60%;
}
/* line 106, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="number"] {
  height: 26px;
  width: 60%;
}
/* line 110, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="date"] {
  height: 26px;
  width: 60%;
}
/* line 114, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov tr td input[type="time"] {
  height: 26px;
  width: 60%;
}
/* line 118, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .pub_table_ov tr td select {
  height: 30px;
  width: 60%;
}
/* line 126, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .search_ov {
  text-align: center;
}
/* line 128, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .search_ov ul {
  display: inline-block;
}
/* line 130, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .search_ov ul li {
  float: left;
  margin-left: 40px;
  margin-bottom: 20px;
}
/* line 134, ../sass/overlay_setting.scss */
#ajax-wrap #overlay_main_content .search_ov ul li:first-child {
  margin-left: 0;
}
/* line 141, ../sass/overlay_setting.scss */
#ajax-wrap .overflow_footer {
  height: 20px;
  display: block;
}

/*icon_font*/
/*=================================================================================
	アイコンフォント
/===============================================================================*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-qapj49");
  src: url("../fonts/icomoon.eot?#iefix-qapj49") format("embedded-opentype"), url("../fonts/icomoon.ttf?-qapj49") format("truetype"), url("../fonts/icomoon.woff?-qapj49") format("woff"), url("../fonts/icomoon.svg?-qapj49#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 679, ../sass/common.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 693, ../sass/common.scss */
.icon-uniE600:before {
  content: "\e600";
}

/* line 696, ../sass/common.scss */
.icon-uniE601:before {
  content: "\e601";
}

/* line 699, ../sass/common.scss */
.icon-uniE602:before {
  content: "\e602";
}

/* line 702, ../sass/common.scss */
.icon-uniE603:before {
  content: "\e603";
}

/* line 705, ../sass/common.scss */
.icon-uniE604:before {
  content: "\e604";
}

/* line 708, ../sass/common.scss */
.icon-uniE605:before {
  content: "\e605";
}

/* line 711, ../sass/common.scss */
.icon-uniE606:before {
  content: "\e606";
}

/* line 714, ../sass/common.scss */
.icon-uniE607:before {
  content: "\e607";
}

/* line 717, ../sass/common.scss */
.icon-uniE608:before {
  content: "\e608";
}

/* line 720, ../sass/common.scss */
.icon-uniE609:before {
  content: "\e609";
}

/* line 723, ../sass/common.scss */
.icon-uniE60A:before {
  content: "\e60a";
}

/* line 726, ../sass/common.scss */
.icon-uniE60B:before {
  content: "\e60b";
}

/* line 729, ../sass/common.scss */
.icon-uniE60C:before {
  content: "\e60c";
}

/* line 732, ../sass/common.scss */
.icon-uniE60D:before {
  content: "\e60d";
}

/* line 735, ../sass/common.scss */
.icon-uniE60E:before {
  content: "\e60e";
}

/* line 738, ../sass/common.scss */
.icon-uniE60F:before {
  content: "\e60f";
}

/* line 741, ../sass/common.scss */
.icon-uniE610:before {
  content: "\e610";
}

/* line 744, ../sass/common.scss */
.icon-uniE611:before {
  content: "\e611";
}

/* line 747, ../sass/common.scss */
.icon-uniE612:before {
  content: "\e612";
}

/* line 750, ../sass/common.scss */
.icon-uniE613:before {
  content: "\e613";
}

/* line 753, ../sass/common.scss */
.icon-uniE614:before {
  content: "\e614";
}

/* line 756, ../sass/common.scss */
.icon-uniE615:before {
  content: "\e615";
}

/* line 759, ../sass/common.scss */
.icon-uniE616:before {
  content: "\e616";
}

/* line 762, ../sass/common.scss */
.icon-uniE617:before {
  content: "\e617";
}

/* line 765, ../sass/common.scss */
.icon-uniE618:before {
  content: "\e618";
}

/* line 768, ../sass/common.scss */
.icon-uniE619:before {
  content: "\e619";
}

/* line 771, ../sass/common.scss */
.icon-uniE61A:before {
  content: "\e61a";
}

/* line 774, ../sass/common.scss */
.icon-uniE61B:before {
  content: "\e61b";
}

/* line 777, ../sass/common.scss */
.icon-uniE61C:before {
  content: "\e61c";
}

/* line 780, ../sass/common.scss */
.icon-uniE705:before {
  content: "\e705";
}

/* line 783, ../sass/common.scss */
.icon-uniE706:before {
  content: "\e706";
}

/* line 786, ../sass/common.scss */
.icon-uniE905:before {
  content: "\e905";
}

/* line 789, ../sass/common.scss */
.icon-uniE960:before {
  content: "\e960";
}

/* line 792, ../sass/common.scss */
.icon-uniE961:before {
  content: "\e961";
}

/* line 795, ../sass/common.scss */
.icon-uniE9AC:before {
  content: "\e9ac";
}

/* line 798, ../sass/common.scss */
.icon-undo:before {
  content: "\e965";
}
