/********************************************
/	C-1
*********************************************/
/* line 9, ../sass/ID-C.scss */
.section_navi .proce_area table {
  margin-bottom: 0 !important;
}
/* line 13, ../sass/ID-C.scss */
.section_navi .proce_area ul li {
  margin-bottom: 40px !important;
}

/* line 20, ../sass/ID-C.scss */
.data_dl_info {
  width: 795px;
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}
/* line 25, ../sass/ID-C.scss */
.data_dl_info #dl_dropdown_button {
  display: block;
  margin: 0;
}
/* line 28, ../sass/ID-C.scss */
.data_dl_info #dl_dropdown_button a {
  background: url("../images/public/bottom_shadow_download.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-color: #ffffe3;
  display: block;
  padding-top: 3px;
  height: 27px;
  border: #cccccc 1px solid;
  color: #333333;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding-left: 15px;
  text-decoration: none;
}
/* line 43, ../sass/ID-C.scss */
.data_dl_info #dl_dropdown_button a .down {
  float: right;
  margin-right: 10px;
}
/* line 46, ../sass/ID-C.scss */
.data_dl_info #dl_dropdown_button a .down:before {
  content: "\e609";
  font-family: 'icomoon';
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  font-size: 18px;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
/* line 58, ../sass/ID-C.scss */
.data_dl_info #dl_dropdown_button a .up {
  float: right;
  margin-right: 10px;
}
/* line 61, ../sass/ID-C.scss */
.data_dl_info #dl_dropdown_button a .up:before {
  content: "\e60a";
  font-family: 'icomoon';
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  font-size: 18px;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
/* line 75, ../sass/ID-C.scss */
.data_dl_info #dl_dropdown_info {
  background: url("../images/public/drop_down_menu.png");
  background-repeat: no-repeat;
  display: none;
  width: 755px;
  height: 112px;
  padding: 20px;
}
/* line 82, ../sass/ID-C.scss */
.data_dl_info #dl_dropdown_info p {
  margin: 0;
  margin-bottom: 20px;
}
/* line 86, ../sass/ID-C.scss */
.data_dl_info #dl_dropdown_info select {
  width: auto;
}
/* line 89, ../sass/ID-C.scss */
.data_dl_info #dl_dropdown_info #csv_download_button {
  display: block;
  margin: 0;
  width: 238px;
  text-align: center;
  float: right;
}
/* line 95, ../sass/ID-C.scss */
.data_dl_info #dl_dropdown_info #csv_download_button a {
  background: url("../images/public/bottom_shadow_search.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-color: #fddea5;
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  height: 30px;
  border: #cccccc 1px solid;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}

/* line 113, ../sass/ID-C.scss */
#here_table {
  width: 100%;
  display: block;
}
/* line 119, ../sass/ID-C.scss */
#here_table table tr th input[type="checkbox"] {
  width: 13px !important;
  border: none;
  margin: 0;
}
/* line 125, ../sass/ID-C.scss */
#here_table table tr td {
  text-align: left;
}
/* line 127, ../sass/ID-C.scss */
#here_table table tr td .alignC {
  display: block;
  text-align: center;
}
/* line 130, ../sass/ID-C.scss */
#here_table table tr td .alignC input[type="checkbox"] {
  width: 13px !important;
  border: none;
  margin: 0;
}
/* line 141, ../sass/ID-C.scss */
#here_table .disabled_check th:first-child {
  background-color: #afafaf;
}
/* line 146, ../sass/ID-C.scss */
#here_table .disabled_check td:first-child {
  background-color: #afafaf;
}

/********************************************
/	C-2
*********************************************/
/* line 157, ../sass/ID-C.scss */
#result_table {
  width: 100%;
  display: block;
}
/* line 163, ../sass/ID-C.scss */
#result_table table tr td.cor span {
  display: inline-block;
}
/* line 166, ../sass/ID-C.scss */
#result_table table tr td.cor a {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  padding: 3px 10px 0px 10px;
  font-weight: bold;
  height: 25px;
  margin-left: 10px;
}
/* line 174, ../sass/ID-C.scss */
#result_table table tr td.cor a span {
  display: block;
  text-align: center;
}
/* line 180, ../sass/ID-C.scss */
#result_table table tr td.alignC {
  text-align: center;
}
/* line 185, ../sass/ID-C.scss */
#result_table table .saturday td {
  background-color: #eff7fb;
}
/* line 190, ../sass/ID-C.scss */
#result_table table .sunday td {
  background-color: #fdefef;
}

/********************************************
/	C-3
*********************************************/
/* line 205, ../sass/ID-C.scss */
.pub_table_ov tr td select {
  width: auto !important;
}
/* line 208, ../sass/ID-C.scss */
.pub_table_ov tr td .outing_time_group {
  display: block;
}
/* line 211, ../sass/ID-C.scss */
.pub_table_ov tr td .item_edit_button {
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
}
/* line 215, ../sass/ID-C.scss */
.pub_table_ov tr td .item_edit_button a {
  background: url("../images/public/bottom_shadow.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  width: 23px;
  height: 29px;
  padding-top: 1px;
  padding-left: 7px;
  border: #cccccc 1px solid;
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
