@charset "UTF-8";
/********************************************
/	D-1
*********************************************/
/* line 11, ../sass/ID-D.scss */
.proce_area table tr td input {
  border: 1px solid #a9a9a9;
}
/* line 14, ../sass/ID-D.scss */
.proce_area table tr td input[type="text"] {
  width: 55%;
}
/* line 17, ../sass/ID-D.scss */
.proce_area table tr td input[type="checkbox"] {
  width: auto;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0;
}
/* line 23, ../sass/ID-D.scss */
.proce_area table tr td .first_C {
  margin-left: 0 !important;
}

/* line 30, ../sass/ID-D.scss */
#here_table {
  width: 100%;
  display: block;
}

/********************************************
/	D-2
*********************************************/
/* line 42, ../sass/ID-D.scss */
.pub_table_ov tr td input[type="date"] {
  width: 40% !important;
  margin-top: 0px;
}
/* line 46, ../sass/ID-D.scss */
.pub_table_ov tr td input[type="time"] {
  width: 20% !important;
  margin-top: 0;
  margin-top: 10px;
}
/* line 51, ../sass/ID-D.scss */
.pub_table_ov tr td textarea {
  height: 300px;
}
/* line 54, ../sass/ID-D.scss */
.pub_table_ov tr td select {
  float: right;
  width: 60px !important;
}
/* line 58, ../sass/ID-D.scss */
.pub_table_ov tr td input[type="radio"] {
  margin-top: 9px !important;
  display: inline-block;
}
/* line 62, ../sass/ID-D.scss */
.pub_table_ov tr td .select_day {
  display: block;
  margin-bottom: 5px;
}
/* line 65, ../sass/ID-D.scss */
.pub_table_ov tr td .select_day select {
  float: left;
  margin-left: 5px;
}
/* line 68, ../sass/ID-D.scss */
.pub_table_ov tr td .select_day select:first-child {
  margin-left: 0;
  width: 80px !important;
}
/* line 75, ../sass/ID-D.scss */
.pub_table_ov tr td .select_time select {
  float: left;
  margin-left: 5px;
}
/* line 78, ../sass/ID-D.scss */
.pub_table_ov tr td .select_time select:first-child {
  margin-left: 0;
}
/* line 84, ../sass/ID-D.scss */
.pub_table_ov tr td .group_position {
  float: left;
  width: 20%;
}
/* line 87, ../sass/ID-D.scss */
.pub_table_ov tr td .group_position li {
  list-style-type: none;
  margin-top: 10px;
}
/* line 90, ../sass/ID-D.scss */
.pub_table_ov tr td .group_position li:first-child {
  margin-top: 0;
}
/* line 93, ../sass/ID-D.scss */
.pub_table_ov tr td .group_position li input[type="radio"] {
  margin: 0 !important;
  display: inline-block;
}
/* line 99, ../sass/ID-D.scss */
.pub_table_ov tr td .group_select {
  float: left;
  width: 80%;
}
/* line 102, ../sass/ID-D.scss */
.pub_table_ov tr td .group_select table {
  margin-top: 25px;
}
/* line 104, ../sass/ID-D.scss */
.pub_table_ov tr td .group_select table tr {
  border: none !important;
}
/* line 106, ../sass/ID-D.scss */
.pub_table_ov tr td .group_select table tr td {
  padding: 4.5px 12px 4.5px 1.5em !important;
  text-indent: -1.5em;
}

/********************************************
/	D-3
/	※D-2と同じです
*********************************************/
/********************************************
/	D-4
/	※D-2と同じです
*********************************************/
/* line 130, ../sass/ID-D.scss */
.pub_table_ov tr td p {
  margin: 0;
}
/* line 133, ../sass/ID-D.scss */
.pub_table_ov tr td #textarea {
  height: 300px;
}
